USE [CharlesGuertinStageBd]
GO
/****** Object:  UserDefinedFunction [dbo].[GETNBSTAGESBYENTREPRISE]    Script Date: 2017-10-19 17:16:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[GETNBSTAGESBYENTREPRISE](@PNUMENT INT) 
RETURNS INT
AS BEGIN
    DECLARE @NBSTAGES INT

    SELECT @NBSTAGES = COUNT(*) from STAGES
    INNER JOIN ENTREPRISES on STAGES.NUMENT = ENTREPRISES.NUMENT
	WHERE ENTREPRISES.NUMENT = @PNUMENT;
   
	RETURN @NBSTAGES
END

GO
/****** Object:  UserDefinedFunction [dbo].[GETETUDIANTS]    Script Date: 2017-10-19 17:16:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[GETETUDIANTS]
() RETURNS TABLE
AS
return
(
	SELECT NOMSTG,PRENOMSTG,DESCRIPTION,NOMENT,NOMTR,NOMSVR from STAGIAIRES
	INNER JOIN SUPERVISEURS on STAGIAIRES.NUMSVR = SUPERVISEURS.NUMSVR
	INNER JOIN STAGES on STAGIAIRES.NUMAD = STAGES.NUMAD
	INNER JOIN MONITEURS on STAGES.NUMTR = MONITEURS.NUMTR
	INNER JOIN ENTREPRISES on STAGES.NUMENT = ENTREPRISES.NUMENT
);

GO
/****** Object:  StoredProcedure [dbo].[ADDSTAGE]    Script Date: 2017-10-19 17:16:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ADDSTAGE]
(
	@PDESCRIPTION TEXT,
	@PTYPESTG VARCHAR(255),
	@PLANGAGES VARCHAR(255),
	@PPLATEFORME VARCHAR(255),
	@PNUMENT INT,
	@PNUMTR INT,
	@PNUMAD INT
)
AS
	INSERT INTO STAGES VALUES(@PDESCRIPTION,@PTYPESTG,@PLANGAGES,@PPLATEFORME,@PNUMENT,@PNUMTR,@PNUMAD);

GO
/****** Object:  StoredProcedure [dbo].[DELETESTAGE]    Script Date: 2017-10-19 17:16:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[DELETESTAGE]
(
	@PNUMSTAGE INT
)
AS
	DELETE FROM STAGES WHERE NUMSTAGE = @PNUMSTAGE;

GO
/****** Object:  StoredProcedure [dbo].[GETSTAGESFROMENTREPRISE]    Script Date: 2017-10-19 17:16:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GETSTAGESFROMENTREPRISE]
(
	@PNOMENT VARCHAR(255)
)
AS
	SELECT  DESCRIPTION,TYPESTG,LANGAGES,PLATEFORME,NOMENT FROM STAGES
	INNER JOIN ENTREPRISES on STAGES.NUMENT = ENTREPRISES.NUMENT
	WHERE ENTREPRISES.NOMENT = @PNOMENT;

GO
/****** Object:  StoredProcedure [dbo].[UPDATEDESCRIPTION]    Script Date: 2017-10-19 17:16:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[UPDATEDESCRIPTION]
(
	@PNUMSTAGE INT,
	@PDESCRIPTION TEXT
)
AS
	UPDATE STAGES set DESCRIPTION = @PDESCRIPTION WHERE NUMSTAGE = @PNUMSTAGE;

GO
