<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <connectionStrings>
       <add name="SqlDataset.Properties.Settings.ConnectionString"
         connectionString="data source = .\\SQLEXPRESS; Initial Catalog = CharlesGuertinStageBd;
         User Id = CharlesGuertinStage; password = Charles14"
         providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>